<div class="container">
  <div class="container-title">
    <h1>Gekozen activiteiten</h1>
  </div>
  <div class="container-content">
    <h2>Study buddy Java Essentials</h2>
    <div class="text">
      <p>'Tijdens deze activiteit heb ik de mogelijkheid gekregen om een medestudent genaamd Cédric Odeur te helpen met
        het instuderen van het OLOD Java Essentials. Deze sessies zijn vanwege Covid online doorgegaan in een
        Teams-vergadering. Tijdens deze sessies zijn de wekelijkse taken besproken en heb ik geholpen met het verder
        uitleggen van de lessen en het voorbereiden op het komende examen. Deze sessies vonden in het weekend plaats en
        namen ongeveer drie uur in beslag.</p>
    </div>
    <div class="text">Het was een uitdagende en verrijkende ervaring om met Cédric te werken, omdat hij een student is
      met ASS (Autisme Spectrum Stoornis) en dus specifieke behoeften heeft op het gebied van leren en communicatie. Ik
      realiseerde me al snel dat ik mijn uitleg moest aanpassen en duidelijk en geduldig moest zijn in mijn aanpak. Ik
      moest hem de tijd geven om zelf de punten te verbinden en te begrijpen wat hij deed. Dit deed ik vaak door een
      situatie uit te leggen en hem te begeleiden in de juiste richting wanneer hij vastliep.
    </div>
    <div class="text">Voor iedere sessie met Cédric gaf ik hem de opdracht om de oefeningen en lessen die hij niet
      begreep ergens op te schrijven. Ik moedigde hem ook aan om zoveel mogelijk zelfstandig te werken, omdat ik
      geloofde dat dit de beste manier was om zijn vaardigheden te ontwikkelen en vertrouwen op te bouwen in zijn eigen
      capaciteiten. Tijdens de sessie was het mijn taak om hem te helpen waar hij problemen ondervond. Een van de
      problemen was bijvoorbeeld dat hij niet goed begreep hoe klassen gebruikt kunnen worden in een andere klasse. Dit
      kwam voornamelijk doordat studenten in het algemeen in het eerste jaar een klasse vaak aanzien als een 'file' en
      het dus vreemd vinden dat je tussen twee 'files' zomaar code kunt hergebruiken.
    </div>
    <div class="text">Een taak die ik had, was het maken van een verslag van iedere sessie om zo mijn uren te
      registreren op het EPOS platform. In deze verslagen beschreef ik wat moeizaam ging en wat goed ging. Ook werden de
      vorderingen die Cédric maakte binnen de gehele study buddy periode gedocumenteerd. De beginsituatie van Cédric
      was bijvoorbeeld nog erg minimaal. Hij had pas voor de eerste keer code geschreven, dus ik kon hem nog met veel
      concepten rond programmeren helpen. Vaak kwam het erop neer dat hij gewoonweg tijd nodig had. Programmeren is iets
      wat je eerst moet begrijpen, maar zolang je het niet doet, zul je er niet in slagen. Ik heb Cédric dus vaak, nadat
      ik een onduidelijkheid had uitgelegd, hierover opdrachten laten maken. Deze verslagen werden ook gebruikt om
      Cédric beter te kunnen opvolgen door zijn zorgbegeleiding.
    </div>
    <div class="images">
      <img src="./assets/studdybuddy_1.png" alt="studybuddy meeting picture">
      <img src="./assets/studdybuddy_2.png" alt="studybuddy meeting picture">
      <img src="./assets/studdybuddy_3.png" alt="studybuddy evaluation picture">
    </div>
    <div class="text">Voor een sessie begon stuurde Cédric mij de problemen en opdrachten door. Vervolgens was het aan
      mij om deze zaken al eens te bekijken en mijn uitleg voor te bereiden alvorens de sessie begon. Dit werd vaak
      gedaan door voorbeeld oefeningen die ik maakte. Tijdens deze demonstraties gaf ik dan bij iedere stap die ik
      maakte de nodige uitleg zodat alles duidelijk voor hem bleef.
    </div>
    <div class="text">Study Buddy zijn was een zeer positieve en bevredigende ervaring voor mij. Het was geweldig om
      een medestudent met ASS te helpen bij zijn studie. Het feit dat Cédric specifiek om mijn hulp vroeg bij al zijn
      programmeervakken was een groot compliment. Ik heb het geluk gehad om hem drie keer te mogen helpen in het
      afgelopen jaar en heb er veel van geleerd.
    </div>
    <div class="text">Een van de belangrijkste lessen die ik heb geleerd, is het belang van het begrijpen van vaktermen
      bij het uitleggen van programmeerconcepten. Het is van cruciaal belang dat beide partijen dezelfde terminologie
      gebruiken om effectief te kunnen communiceren. In het begin hadden zowel Cédric als Ik heb ook veel geleerd over
      het schrijven van efficiënte code. Het was interessant om te zien hoe mijn code soms te uitgebreid was en dat het
      korter en duidelijker kon worden geschreven. Dit was een waardevolle les, want als andere teamleden mijn code in
      de toekomst moeten lezen, moeten ze het gemakkelijk kunnen begrijpen en interpreteren. Door dit in gedachten te
      houden, zal ik mijn code zo schrijven en structureren dat het gemakkelijk te begrijpen is voor iedereen die ermee
      werkt.
    </div>
    <div class="text">Naast de lessen die ik heb geleerd over programmeren, heb ik ook veel geleerd over mezelf en mijn
      vermogen om anderen te helpen. Het was geweldig om te zien hoe Cédric groeide en verbeterde in de vakken waarin we
      samenwerkten. Het gaf me een gevoel van voldoening en maakte me enthousiast om andere studenten te helpen.
      Kortom, Study Buddy zijn was een zeer positieve ervaring voor mij. Ik heb niet alleen mijn vaardigheden in
      programmeren en communiceren verbeterd, maar ook mijn zelfvertrouwen vergroot. Ik ben vastbesloten om mijn kennis
      en vaardigheden te blijven verbeteren en anderen te helpen groeien en slagen in hun studie en carrière.
    </div>
    <div class="text">Kortom, Study Buddy zijn was een zeer positieve ervaring voor mij. Ik heb niet alleen mijn
      vaardigheden in
      programmeren en communiceren verbeterd, maar ook mijn zelfvertrouwen vergroot. Ik ben vastbesloten om mijn kennis
      en vaardigheden te blijven verbeteren en anderen te helpen groeien en slagen in hun studie en carrière.
    </div>


    <h2>NG-BE 2023</h2>
    <div class="text">
      <p>Tijdens mijn stage bij Continuum Consultring NV hoorde ik de naam ‘NG-BE’ vallen en vroeg ik wat dit inhield.
        Mij werd toen verteld dat dit ging over een conferentie rond het Angular framework. Als toekomstige frontend
        developer en huidige frontend enthousiast klonk dit voor mij dan uiteraard zeer interessant. Het event zou
        doorgaan op 23 en 24 maart en plaatsvinden aan de Holiday Inn Gent Expo. Dit event zou meerdere grote namen van
        de Angular community uitnodigen om te komen spreken over interessante concepten rond het framework. Op de 23ste
        maart bestond de dag uit diverse workshops en de 24ste bestond uit een interessante student day en verschillende
        presentaties van de grote namen binnen de Angular community.</p>
    </div>
    <div class="text">De taak die ik mezelf gaf was om mij in te schrijven voor de student day. Ik heb mij vervolgens
      ook opgelegd om zoveel mogelijk nieuwe contacten te leggen met mede frontend developers om zo mijn netwerk te
      verbreden. Door dit te doen hoopte ik om nog veel bij te kunnen leren en eventueel vergelijkingen met de lessen
      van Angular in school te kunnen maken. Ook zag ik dat er gesproken zou worden over mijn onderzoeksonderwerp van
      mijn stage. Om deze reden wou ik ook zeker aanwezig zijn tijdens deze presentatie.
    </div>
    <div class="text">Om deel te nemen aan deze conferentie moest ik eerst toestemming vragen aan zowel mijn
      stagebedrijf als aan de hogeschool. Mijn stagebedrijf reageerde met veel enthousiasme en bracht mij motivatie om
      naar deze conferentie te gaan. Zo werd mij toen ook medegedeeld dat zij hier ook aanwezig zouden zijn als sponsors
      van dit event. Vervolgens heb ik een mail gestuurd naar mijn hogeschoolpromotor Jan Willekens die mij voorstelde
      om dit aan Marijke Willems te vragen. Na een paar dagen kreeg ik een mail terug van Joeri Gerrits. Hij had de mail
      van mijn aanvraag via Marijke gekregen en liet mij weten dat dit in orde was.
    </div>
    <div class="text">Het event begon om half acht in de ochtend. Om hier op tijd bij te zijn ben ik om vijf uur moest
      vertrekken om een rit van minstens twee uur te maken naar Gent met de auto. Toen ik aankwam werd ik warm onthaald.
      Ik kreeg zo heel wat leuke goodies zoals een drankfles, t-shirt, stickers en drankbonnen. De start van de dag
      bestond uit het ontbijt waar ik al snel werknemers van mijn stagebedrijf zag rondlopen. Zij zaten aan een tafel
      met een aantal nieuwe gezichten dus hier ben ik ook bij gaan zitten om zo te kunnen praten met zowel mijn
      medewerkers als de nieuwe contacten van de community.
    </div>
    <div class="images">
      <img src="./assets/NGBE_1.jpg" alt="NGBE">
      <img src="./assets/NGBE_2.jpg" alt="NGBE">
      <img src="./assets/NGBE_3.jpg" alt="NGBE">
    </div>
    <div class="text">Na het ontbijt was het tijd voor mij om het lokaal te vinden waar de student day zou plaatsvinden.
      Ik heb mij toen aan een tafel gezet en mij voorgesteld aan de persoon die langs mij zat. Dit was een medestudent
      van een hogeschool in Gent. Hij zag die dag voor het eerst wat Angular was. Om die reden had ik het op mijzelf
      genomen om hem te helpen tijdens de workshop als hij ergens vast zat. De workshop bestond uit het maken van een
      streaming website zoals Netflix. Zo zouden we een lijst aan films tonen en interactie toevoegen aan deze elementen
      op de site. Er werden concepten besproken zoals standalone components, pipes, directives, ... en nog veel meer.
      Als ik het vergelijk met wat ik in het eerste semester van het derde jaar AON heb gezien kwam dit allemaal zeer
      goed overeen. Het enigste verschil was het concept rond standalone components wat blijkbaar nog heel nieuw was.
    </div>
    <div class="text">Tijdens de middagpauze ben ik naar de verschillende sponsorstanden gegaan om meer over deze
      bedrijven te leren kennen en eventueel toekomstige werkplekken te zoeken. Sommige sponsors hadden ook leuke
      minigames om aandacht te trekken. Een van deze stands was van mijn stagebedrijf. Ze hadden een loterij met een
      aantal leuke prijzen. Ik was een van de gelukkigen wiens naam werd getrokken en kon een prijs mee naar huis nemen.
    </div>
    <div class="images">
      <img src="./assets/NGBE_4.jpg" alt="NGBE">
      <img src="./assets/NGBE_5.jpg" alt="NGBE">
      <img src="./assets/NGBE_6.jpg" alt="NGBE">
    </div>
    <div class="text">In de namiddag werkten we verder aan onze streamingwebsite tijdens de student workshop. Deze liep
      net op tijd af voor mij om naar de presentatie te gaan over het concept van "Signals". Dit is een nieuwe feature
      binnen Angular, waar ik momenteel voor mijn stage onderzoek naar doe. Tijdens deze presentatie kon ik veel
      aantekeningen maken om later toe te passen in mijn onderzoek.
      Na de presentatie was er nog een drankje aangeboden en was er mogelijkheid om met andere ontwikkelaars in gesprek
      te gaan. Na een extra uur pakte ik mijn spullen, nam afscheid van iedereen en vertrok ik naar huis. Bij de uitgang
      kreeg ik vervolgens nog een snack voor onderweg aangeboden en een certificaat van deelname overhandigd.
    </div>
    <div class="text">Deze conferentie was een geweldige ervaring voor mij en ik ben erg blij dat ik de beslissing heb
      genomen om mij in te schrijven. Aangezien het absoluut niet kortbij is had ik initieel mijn twijfels maar mijn
      passie voor frontend development hebben mij dan toch overtuigd om mij in te schrijven. Ik ben ontzettend dankbaar
      voor al de organisatoren die dit mogelijk hebben gemaakt. De conferentie bood een scala aan activiteiten en
      evenementen waardoor ik mijn kennis in het vakgebied kon verbreden en mijn horizon kon verbreden.
    </div>
    <div class="text">De student workshop heeft helaas niet veel meerwaarde geboden aan mijn kennis binnen het
      framework. Behalve standalone components had ik in school al alles gezien wat hier aangehaald werd. Het kostte me
      aanvankelijk wat moeite om gesprekken aan te gaan met nieuwe mensen op het evenement. Ik had niet meteen door dat
      veel van de aanwezigen niet uit België kwamen en dat ze Engels spraken. Na een paar ongemakkelijke momenten leerde
      ik echter hoe ik op de beste manier gesprekken kon voeren en nieuwe contacten kon leggen. Ik ben er trots op dat
      ik deze vaardigheid heb verbeterd en dat ik mijn netwerk heb kunnen uitbreiden.
    </div>
    <img src="./assets/NGBE_7.jpg" alt="NGBE">
    <div class="text">Dit evenement was zeker niet binnen mijn comfortzone, maar het heeft me geholpen om te groeien en
      nieuwe uitdagingen aan te gaan. Het was niet iets wat ik voorheen zou hebben gedaan, spontaan naar een evenement
      aan de andere kant van België gaan, maar ik ben blij dat ik het heb gedaan en de ervaring heb opgedaan.
      In de toekomst wil ik zeker meer van dergelijke evenementen bijwonen. Niet alleen om bij te leren en nieuwe
      contacten te leggen, maar ook om mijzelf verder te ontwikkelen. Als programmeur moet je niet alleen technisch
      bekwaam zijn, maar ook sociale vaardigheden bezitten en in een team kunnen werken. Evenementen zoals deze bieden
      een uitstekende mogelijkheid om deze vaardigheden te oefenen en te ontwikkelen. Ik ben enthousiast over mijn groei
      en ben blij dat ik deze kans heb gehad om mezelf te ontwikkelen.
    </div>
    <div class="link">
      <a
        href="https://photos.google.com/share/AF1QipP35ccZLCj28novO45Tk7EeeHY4vCOZyv8t5WE32NfDR8RfApjB71EZUOFPCMhDpw?key=aF9ZVUhDNm1zOXNPdDlkZ2EzUTkzdFdaRF9ENkJn"
        target="_blank">
        Link naar fotoalbum
      </a>
    </div>


    <h2>Website Kinepunt-wauberg</h2>
    <div class="text">In mijn vrijetijd maak ik websites voor zelfstandige en bedrijven. Mijn kinesiste die haar eigen
      praktijk onlangs begonnen is kwam zo met de vraag voor een website naar mij toe. De vraag werd gesteld in November
      2022 en omvatte zowel digital branding zoals een naam verzinnen en logo’s maken maar ook natuurlijk de website
      designen, maken en uiteraard online zetten.
    </div>
    <div class="text">Voor deze opdracht had ik het mijzelf opgenomen om alles wat ik gezien heb in mijn studies te
      combineren. Zowel nieuwe vaardigheden verkregen van de lectoren en lesmateriaal maar ook nieuwe technologieen
      gezien in bijvoorbeeld de UI/UX innovatieroute. Ik hebzo voor de aanvang van de opdracht besloten om het Angular
      framework te gebruiken om de site mee te maken en Figma om een allereerste design te maken. Figma was een zeer
      handige keus omdat ik zo eerst een design kon maken en tonen aan de kinesist, kon vragen voor feedback en
      aanpassingen kon aanbrengen alvorens ik een lijn code had geschreven. Voor Angular had ik dan gekozen omdat we dit
      framework net zagen in school en ik een extra reden wou hebben om hier mee te werken. Voor het designen van een
      logo gebruikte ik Photoshop omdat ik hier al een aantal jaar ervaring in heb door activiteiten in mijn vrijetijd.
    </div>
    <div class="text">Mijn werk begon met het brainstormen rond de naam voor de praktijk van de kinesiste (Silke
      Kelchtermans). Ik heb haar eerst een aantal voorbeelden gegeven die zij dan gebruikte als inspiratie voor een
      definitieve naam. Eerst besloten we om te gaan met ‘Silke Kelchtermans Kine’ (SKK in het kort). Voor deze naam had
      ik enkele logo’s gemaakt en aan de Kinesiste gegeven. Hierna is toen besloten geweest om even het werk neer te
      leggen omdat ik het te druk had met school. Na de examens in januari hebben we het werk weer opgepakt en toen
      kreeg ik de vraag of ik weer een nieuw logo kon maken. Ze was namelijk niet meer blij met het huidige en de naam
      had ze verranderd naar het huidige ‘Kinepunt-wauberg’. Dit was natuurlijk geen probleem. Het maken van een nieuw
      logo koste mij een extra twee tot drie weken om alle feedback te verwerken en het logo in verschillende versies te
      maken. Zo moest het logo zowel met een wit en zwart lettertype maar ook horizontaal en verticaal georienteerd voor
      op tshirts en documenten.
    </div>
    <div class="images">
      <img src="./assets/silkeLogoWit.png" alt="studybuddy meeting picture">
      <img src="./assets/SilkeLogoHumanTransparant.png" alt="studybuddy meeting picture">
      <img src="./assets/KinePuntLangWhiteFontTransparantDone.png" alt="studybuddy evaluation picture">
    </div>
    <div class="text">Vervolgens begon mijn werk aan de website zelf. Ik ben begonnen met enkele designs in Figma te
      maken die ik vervolgens Silke kon tonen. Hier heeft ze op haar beurt weer feedback op gegeven maar over het
      algemeen was ze bij het initiele ontwerp al heel erg onder de indruk. Nu begon het maken van de website in
      Angular. Al snel ondervond ik dat ik het design dat ik had in Figma te ingewikkeld had gemaakt voor wat ik op dat
      moment kon maken. Door deze moeizaamheden duurde het maken van de website langer dan verwacht. Uiteindelijk zijn
      deze problemen opgelkost geraakt en staat de website op de rand van release.
    </div>
    <div class="text">Na het maken van de website moest ik gaan zoeken naar een hosting-service. Voor dit heb ik wat
      rondgevraagd aan vrienden en mede web developers en kwam ik op de website ‘One’ terecht. Hier heb ik vervolgens
      het domein ‘kinepunt-wauberg.be’ aangekocht en een abonnoment om de website voor een jaar te hosten. Momenteel
      staat de site op het randje om gereleased te worden. Dit omdat Silke nog een fotograaf moet laten langskomen om
      foto’s te maken van alle medewerkers en de praktijk zelf. Wanneer ik deze foto’s krijg kan ik de website hier mooi
      mee bekleden en afmaken.
    </div>
    <div class="images">
      <img src="./assets/website_1.png" alt="studybuddy meeting picture">
      <img src="./assets/website_2.png" alt="studybuddy meeting picture">
      <img src="./assets/website_3.png" alt="studybuddy evaluation picture">
    </div>
    <div class="text">Van dit project heb ik uiterst veel geleerd. Mijn eerste ervaring met het maken en online zetten
      van een website was namelijk in 2015, een hele tijd geleden. Er is geweldig veel verranderd in de tussentijd.
      Frameworks zoals Angular maken web development veel aangenamer en minder tijdrovend. Ook tools zoals Figma helpen
      enorm. Voordien maakte ik bijjvoorbeeld direct de site en zorge dat deze functioneel was zoals de klant wou maar
      het designen nam heel wat meer tijd in beslag. Dankzij Figma kon dit nu allemaal vastgezet worden alvorens ik
      begon met het maken van de site zelf. Door op deze manier te werken was er heel wat minder stress gebonden aan het
      gehele verhaal. Beide partijen wisten nu duidelijk wat ze van elkaar konden verwachten.
    </div>
    <div class="text">Natuurlijk waren er wel een aantal moeilijkheden. Het maken van een website in Angular is
      nogsteeds redelijk nieuw en ik leer iedere dag bij. Ik heb ondertussen al een aantal keer wat code moeten
      herschrijven omdat ik een veel betere implementatie van diezelfde feature was tegengekomen. Over het algemeen is
      dit gehele leerprocess wel iets dat ik uiteraard heel graag doe. Nog een probleem was het verhaal wat zich
      afspeelt nadat een website onlinestaat, het SEO verhaal (Search Engine Optimization). Ik moet er natuurlijk voor
      zorge dat een website bovenaan staat in de zoekresultaten op google en dit is een studie op zichzelf. In de
      toekomst ga ik hier veel meer werk in steken om al mijn huidige en toekomstige klanten een betere service aan te
      kunnen bieden.
    </div>
    <div class="link">
      <a
        href="https://www.figma.com/proto/4IveJdWStmsn7sNasPKr5S/SilkeWebsite?node-id=2-27&scaling=min-zoom&page-id=0%3A1"
        target="_blank">
        Link naar Figmaproject
      </a>
    </div>
    <div class="link">
      <a
        href="https://www.kinepunt-wauberg.be/"
        target="_blank">
        Link naar kinepunt-wauber.be
      </a>
    </div>
  </div>
</div>
