<div class="container">
  <div class="container-title">
    <h1>Voorstelling</h1>
  </div>
  <div class="container-content">
    <h2>Wie ben ik?</h2>
    <p class="text">
      Ik ben Jonas Verlinden, een 25-jarige student in de richting Fullstack Development aan de hogeschool PXL.
      Ondertussen loop ik al een 7-tal jaar rond in de IT-sector als student en enthousiasteling in de evolutie van de
      mensheid in deze sector. Vanaf een leeftijd van 3 jaar begon ik al aanzienlijke tijd te spenderen met technologie.
      Dit begon met een simpele Gameboy en een PlayStation waar mijn interesse in deze wereld alleen maar bleef groeien.
      Op het moment dat we thuis onze eerste computer hadden, explodeerde deze interesse. Er was een exponentiële
      hoeveelheid kennis te verkrijgen en ideeën te bedenken. Al snel focuste mijn interesse zich op het maken van
      interactieve applicaties zoals games, websites en programma's om mensen te helpen bij hun behoeften.
    </p>
    <p class="text">Van vrienden hoor ik vaak dat ik een zeer behulpzaam, respectvol en direct persoon ben. Wanneer
      mensen met problemen zitten, zal ik altijd een luisterend oor aanbieden en kijken naar een oplossing. Ook weten
      mensen altijd wat ze van mij kunnen verwachten, omdat ik niets verberg. Zo zeg ik eerlijk wanneer iets of iemand
      mij niet bevalt en moedig ik altijd een discussie aan om eventuele onduidelijkheden of problemen op te lossen.</p>
    <p class="text">Uit mijn Thalento-rapport kunnen we ook concluderen dat ik een pragmaticus ben. Deze test heb ik een
      4-tal jaar geleden afgenomen en is nog steeds zeer van toepassing. Zo ben ik zeker iemand die genoeg tijd neemt om
      na te denken over een situatie, alle mogelijke uitkomsten vergelijkt en vervolgens de beslissing maakt die ik
      beter vind. Zo streef ik ook naar een goed evenwicht tussen grondigheid en efficiëntie van acties.</p>
    <br>
    <br>
    <p class="text">In mijn vrije tijd ben ik ook veel bezig in de IT-sector. Zo maak ik al enkele jaren digitale
      oplossingen voor zelfstandige en kleine bedrijven in de omgeving. Dit kan variëren van het bedenken van een
      bedrijfsnaam en een logo tot het maken van een website voor de klant. Door deze ervaring voel ik me redelijk
      zelfverzekerd in het werkveld en in communicatie met klanten.</p>
    <p class="text">In de komende jaren wil ik mijn kennis verder uitbreiden in een software consultancy bedrijf. Dit
      komt doordat je bij een consultancy bedrijf in aanraking komt met diverse technologieën en mensen. Ik ben ervan
      overtuigd dat ik als junior fullstack developer nog veel kan bijleren door dit te doen. Ook wil ik na mijn
      schoolcarrière mijn eigen studentenjob omzetten in een freelance baan, zodat ik in het weekend nog wat extra bezig
      kan zijn met wat ik graag doe, namelijk het helpen van zelfstandigen en bedrijven bij het online presenteren van
      hun zaak.</p>
    <p class="text">Ik realiseer me dat ik mezelf nog kan verbeteren op het gebied van communicatie rond bepaalde
      concepten binnen een team van experten. Ik merk namelijk vaak dat ik wel weet wat ik doe of moet doen, maar dit
      niet altijd goed kan overbrengen naar iemand die bekend is met een breed scala aan vaktermen. Ik ben ervan
      overtuigd dat dit verbeterpunt vanzelf zal verbeteren wanneer ik eenmaal werkzaam ben in een professioneel team
      binnen een bedrijf.</p>
  </div>
</div>
