<div class="container">
  <div class="container-title">
    <h1>Reflectie</h1>
  </div>
  <div class="container-content">
    <div class="text">
      <p>Toen ik mijn opleiding Toegepaste Informatica aan de Hogeschool PXL begon, deed ik dat niet met veel optimisme.
        Ik
        kwam net van de opleiding Game Development aan HOWEST in Kortrijk waar mijn jaar op een deprimerende toon was
        geëindigd. Ik had altijd games willen maken, maar deze opleiding toonde mij dat ik hier gewoonweg niet klaar
        voor was.
        Het eerste jaar in PXL was niet veel anders. Ik slaagde niet voor mijn vakken omdat ik geen interesse meer leek
        te
        hebben. Uiteindelijk, door de opdrachten te maken en klasgenoten te helpen, klikte er iets bij mij. Ik haalde
        veel
        voldoening uit het helpen van anderen. Toen ik mijn eerste jaar een tweede keer deed, had ik al een goede basis
        voor
        alle programmeervakken en kon ik mijn nieuwe vrienden goed helpen. Dit was voor mij een cruciaal punt omdat ik
        nu niet
        langer meer leerde voor mezelf, maar ook voor mijn vrienden. Door deze extra motivatie begon mijn passie voor
        programmeren weer te groeien. Om deze reden ben ik bijvoorbeeld ook begonnen als study buddy om zo studenten die
        het
        moeilijk hebben extra ondersteuning te bieden.</p>
      <br>

      <p>Door de burn-out die ik had overgehouden van mijn opleiding in HOWEST had ik het voor mezelf wel duidelijk
        gemaakt
        dat ik het rustig aan ging doen. Ik voelde me niet klaar om snel in het werkveld te treden. Ik wilde het rustig
        aan
        doen met mijn studies en genieten van het studentenleven. Natuurlijk heeft corona ook wel zo zijn invloed gehad
        op
        mijn prestaties op school door de grote impact die het had op alles en iedereen.</p>
      <p>In mijn derde jaar binnen PXL zat ik in mijn tweede jaar Toegepaste Informatica. Hier werkten we niet langer
        meer met
        de basis van .NET, Java en frontend-frameworks, maar begonnen we effectief applicaties te maken. Hier besloot ik
        dat
        dit precies was wat ik wilde doen: een sterke backend maken en hier mooie websites mee maken met oog voor UI/UX.
        Met
        ieder project dat de school mij gaf, groeide deze passie, waardoor ik uiteindelijk begon als freelancer in mijn
        vrije
        tijd.</p>
      <br>
      <p>Als ik mezelf nu vergelijk met hoe ik was toen ik in 2018 aan de opleiding begon, is alles nu veel helderder.
        Ik weet
        eindelijk wat ik wil doen, ben op sociaal gebied opengebloeid en kan met iedereen overweg. Ik neem in mijn vrije
        tijd
        initiatief om met mijn passie bezig te zijn en houd mezelf elke dag up-to-date met mijn interesses. In het begin
        stond
        ik ook totaal niet open voor nieuwe ideeën, wat toch wel noodzakelijk is binnen de informatica. Technologie
        verandert
        constant en dit is juist wat mij aantrekt.</p>
      <p>In de toekomst zou ik graag als freelancer kleinere projecten blijven aannemen, zoals simpele websites maken,
        terwijl
        ik ga werken bij een software consultancy bedrijf, zoals mijn huidige stagebedrijf Continuum Consulting NV. Ik
        kies
        voor een consultancy bedrijf omdat deze ervoor zal zorgen dat ik met een groot scala aan diverse technologiën en
        mensen in contact zal komen.
        Ik ben blij dat ik heb geleerd van mijn ervaringen en dat ik nu weet waar mijn passie ligt. Ik blijf mezelf
        ontwikkelen en wil graag meer leren over verschillende frameworks en technologieën. Door mijn ervaring als
        freelancer
        en mijn stage bij Continuum Consulting NV, ben ik ervan overtuigd dat ik een waardevolle bijdrage kan leveren
        aan
        toekomstige projecten en opdrachten. Ik kijk ernaar uit om mijn carrière voort te zetten en nieuwe uitdagingen
        aan te
        gaan.
      </p>
    </div>

  </div>
</div>
