<div class="activity-layout">
  <div class="activity-layout-title">
    <h1>Activiteiten</h1>
  </div>
  <div class="activity-layout-activities">

    <app-card-mandatory-activity [title]="'(Veer)Krachtige teams'"
                                 [domain]="'POP-Sessie'"
                                 [description]="'Deze sessie ging over hoe corona een team kan beinvloeden en hoe we hier mee overweg kunnen gaan.'"
                                 [location]="'Online wegens Covid'"
                                 [date]="'23/03/2021 11u00'"></app-card-mandatory-activity>
    <app-card-mandatory-activity [title]="'(Veer)Krachtige teams'"
                                 [domain]="'POP-Sessie'"
                                 [description]="'Deze sessie ging over hoe corona een team kan beinvloeden en hoe we hier mee overweg kunnen gaan.'"
                                 [location]="'Online wegens Covid'"
                                 [date]="'23/03/2021 11u00'"></app-card-mandatory-activity>
    <app-card-mandatory-activity [title]="'(Veer)Krachtige teams'"
                                 [domain]="'POP-Sessie'"
                                 [description]="'Deze sessie ging over hoe corona een team kan beinvloeden en hoe we hier mee overweg kunnen gaan.'"
                                 [location]="'Online wegens Covid'"
                                 [date]="'23/03/2021 11u00'"></app-card-mandatory-activity>
    <app-card-mandatory-activity [title]="'(Veer)Krachtige teams'"
                                 [domain]="'POP-Sessie'"
                                 [description]="'Deze sessie ging over hoe corona een team kan beinvloeden en hoe we hier mee overweg kunnen gaan.'"
                                 [location]="'Online wegens Covid'"
                                 [date]="'23/03/2021 11u00'"></app-card-mandatory-activity>
    <app-card-mandatory-activity [title]="'(Veer)Krachtige teams'"
                                 [domain]="'POP-Sessie'"
                                 [description]="'Deze sessie ging over hoe corona een team kan beinvloeden en hoe we hier mee overweg kunnen gaan.'"
                                 [location]="'Online wegens Covid'"
                                 [date]="'23/03/2021 11u00'"></app-card-mandatory-activity>
    <app-card-mandatory-activity [title]="'(Veer)Krachtige teams'"
                                 [domain]="'POP-Sessie'"
                                 [description]="'Deze sessie ging over hoe corona een team kan beinvloeden en hoe we hier mee overweg kunnen gaan.'"
                                 [location]="'Online wegens Covid'"
                                 [date]="'23/03/2021 11u00'"></app-card-mandatory-activity>
    <app-card-mandatory-activity [title]="'(Veer)Krachtige teams'"
                                 [domain]="'POP-Sessie'"
                                 [description]="'Deze sessie ging over hoe corona een team kan beinvloeden en hoe we hier mee overweg kunnen gaan.'"
                                 [location]="'Online wegens Covid'"
                                 [date]="'23/03/2021 11u00'"></app-card-mandatory-activity>
    <app-card-mandatory-activity [title]="'(Veer)Krachtige teams'"
                                 [domain]="'POP-Sessie'"
                                 [description]="'Deze sessie ging over hoe corona een team kan beinvloeden en hoe we hier mee overweg kunnen gaan.'"
                                 [location]="'Online wegens Covid'"
                                 [date]="'23/03/2021 11u00'"></app-card-mandatory-activity>
    <app-card-mandatory-activity [title]="'(Veer)Krachtige teams'"
                                 [domain]="'POP-Sessie'"
                                 [description]="'Deze sessie ging over hoe corona een team kan beinvloeden en hoe we hier mee overweg kunnen gaan.'"
                                 [location]="'Online wegens Covid'"
                                 [date]="'23/03/2021 11u00'"></app-card-mandatory-activity>
    <app-card-mandatory-activity [title]="'(Veer)Krachtige teams'"
                                 [domain]="'POP-Sessie'"
                                 [description]="'Deze sessie ging over hoe corona een team kan beinvloeden en hoe we hier mee overweg kunnen gaan.'"
                                 [location]="'Online wegens Covid'"
                                 [date]="'23/03/2021 11u00'"></app-card-mandatory-activity>
    <app-card-mandatory-activity [title]="'(Veer)Krachtige teams'"
                                 [domain]="'POP-Sessie'"
                                 [description]="'Deze sessie ging over hoe corona een team kan beinvloeden en hoe we hier mee overweg kunnen gaan.'"
                                 [location]="'Online wegens Covid'"
                                 [date]="'23/03/2021 11u00'"></app-card-mandatory-activity>
    <app-card-mandatory-activity [title]="'(Veer)Krachtige teams'"
                                 [domain]="'POP-Sessie'"
                                 [description]="'Deze sessie ging over hoe corona een team kan beinvloeden en hoe we hier mee overweg kunnen gaan.'"
                                 [location]="'Online wegens Covid'"
                                 [date]="'23/03/2021 11u00'"></app-card-mandatory-activity>
  <div></div>
    <app-card-mandatory-activity [title]="'(Veer)Krachtige teams'"
                                 [domain]="'POP-Sessie'"
                                 [description]="'Deze sessie ging over hoe corona een team kan beinvloeden en hoe we hier mee overweg kunnen gaan.'"
                                 [location]="'Online wegens Covid'"
                                 [date]="'23/03/2021 11u00'"></app-card-mandatory-activity>

    <div></div>

  </div>
</div>
