<div class="activity-layout">
  <div class="activity-layout-title">
    <h1>Activiteiten</h1>
  </div>
  <div class="activity-layout-activities">

    <app-card-mandatory-activity [title]="'Innovatieroute UI/UX'"
                                 [domain]="'Innovatieroute'"
                                 [description]="'Deze innovatieroute begon met het uitleggen wat UI/UX is en waarom dit belangrijk is. Vervolgens waren er activiteiten voorzien om deze kennis toe te passen.'"
                                 [location]="'Hogeschool PXL. Gebouw G.'"
                                 [date]="'29/09/2022 – 20/10/2022. Drie sessies in deze vier weken. Elk 8u.'"></app-card-mandatory-activity>

    <app-card-mandatory-activity [title]="'My Team and I'"
                                 [domain]="'POP-Sessie'"
                                 [description]="'Een sessie over samenwerkingen binnen een team. Dit werd gedaan m.b.v teambuilding activiteiten.'"
                                 [location]="'Corda 7 – Verdieping 1 – Class room en project room (iSpace)'"
                                 [date]="'19/10/2022 12u30 - 16u30 '"></app-card-mandatory-activity>
    <app-card-mandatory-activity [title]="'Brein aan het werk, niet storen!'"
                                 [domain]="'POP-Sessie'"
                                 [description]="'Een sessie over hoe je betere prestaties kunt verrichten door je zwaktes te leren kennen wanneer je werkt aan opdrachten.'"
                                 [location]="'Online wegens Covid'"
                                 [date]="'09/03/2021 11u00'"></app-card-mandatory-activity>
    <app-card-mandatory-activity [title]="'(Veer)Krachtige teams'"
                                 [domain]="'POP-Sessie'"
                                 [description]="'Deze sessie ging over hoe corona een team kan beïnvloeden en hoe we hier mee om moeten gaan.'"
                                 [location]="'Online wegens Covid'"
                                 [date]="'23/03/2021 11u00'"></app-card-mandatory-activity>

    <app-card-mandatory-activity [title]="'Hackathon Selligent'"
                                 [domain]="'Hackathon'"
                                 [description]="'In deze hackathon was het de bedoeling om een verkregen mailing applicatie te optimaliseren. Het team met de snelste app kon filmtickets winnen.'"
                                 [location]="'Corda 7 – verdieping 1 – Class room en project room (iSpace)'"
                                 [date]="': 9 – 10 februari, 18:00 – 18:00, 24u'"></app-card-mandatory-activity>

    <app-card-mandatory-activity [title]="'iO Belgium'"
                                 [domain]="'Seminarie'"
                                 [description]="'Hierin leerde wij testen schrijven om onze code op een correct manier na te kijken op bugs.'"
                                 [location]="'PXL lokaal B302'"
                                 [date]="'09/11/22 13:30 – 16:30'"></app-card-mandatory-activity>
    <app-card-mandatory-activity [title]="'ACA Group'"
                                 [domain]="'Seminarie'"
                                 [description]="'Uitleg over ACA Group, wat ze doen en waarom. Uitleg over IaC en AWS.'"
                                 [location]="'PXL lokaal B302'"
                                 [date]="'16/11/22 13:30 -16:30'"></app-card-mandatory-activity>
    <app-card-mandatory-activity [title]="'Harmony group: The rise of low code'"
                                 [domain]="'Seminarie'"
                                 [description]="'Kennis gemaakt met low code en door een hands on activiteit een mobiele app gemaakt en laten runnen op mijn mobiele apparaat.'"
                                 [location]="'PXL lokaal B301'"
                                 [date]="'23/11/22 13:30 – 16:30'"></app-card-mandatory-activity>
    <app-card-mandatory-activity [title]="'Brei naan het werk, niet storen!'"
                                 [domain]="'seminarie (deze activiteit staat zowel als pop-sessie en als seminarie op epos)'"
                                 [description]="'Een sessie over hoe je betere prestaties kunt verrichten door je zwaktes te leren kennen wanneer je werkt aan opdrachten.'"
                                 [location]="'Online wegens Covid'"
                                 [date]="'09/03/2021 8u30 - 11u00'"></app-card-mandatory-activity>
    <app-card-mandatory-activity [title]="'Refleqt'"
                                 [domain]="'Seminarie'"
                                 [description]="'Leren over CI/CD. Hoe testen we onze code het beste, welke testing frameworks zijn er? In de sessie gebruikte we Cucumber en Cypress.'"
                                 [location]="'Online wegens Covid'"
                                 [date]="'20/04/2021 8u30 – 11u00'"></app-card-mandatory-activity>
    <app-card-mandatory-activity [title]="'TPO'"
                                 [domain]="'Seminarie'"
                                 [description]="'Uitleggen wat serverless inhoud en Faas. Ook de werkingen van AWS is in deze context aangehaald.'"
                                 [location]="'Online wegens Covid'"
                                 [date]="'27/04/2021 8:30 – 10:30'"></app-card-mandatory-activity>
    <app-card-mandatory-activity [title]="'RCCU'"
                                 [domain]="'Seminarie'"
                                 [description]="'Uitleggen wat de Regional Computer Crime Unit allemaal doet en waarom. Dit ging over bijvoorbeeld het bestrijden van online criminaliteit en het helpen tijdens opsporingen.'"
                                 [location]="'Online wegens Covid'"
                                 [date]="'04/05/2021 8:30 – 10:30'"></app-card-mandatory-activity>
    <div></div>
    <app-card-mandatory-activity [title]="'Ordina'"
                                 [domain]="'Seminarie'"
                                 [description]="'Deze sessie ging over de verschillende soorten hackers en hoe deze aan het werk gaan in legalen en illegalen activiteiten.'"
                                 [location]="'Online wegens Covid'"
                                 [date]="'11/05/2021 9:00 – 11:00'"></app-card-mandatory-activity>
    <div></div>
  </div>
</div>
