.card-glow {
  height: 30vh;
  aspect-ratio: 1.5/1;
  background: var(--color-black);
  border-radius: 0.5rem;
  position: relative;
  transform: perspective(500px) rotateX(20deg) rotateY(20deg);
  transform-style: preserve-3d;
  transform-origin: center center;
  margin: auto;
  padding: 2rem;
  transition: height 0.5s ease-in-out;

}
.card-glow:hover{
  height: 31vh;
}

.card-glow::before,
.card-glow::after {
  content: "";
  position: absolute;
  inset: -1rem;
  background: conic-gradient(
    from var(--gradient-angle),
    var(--color-red),
    var(--color-purple),
    var(--color-red),
    var(--color-purple),
    var(--color-red)
  );
  border-radius: inherit;
  animation: rotation 20s linear infinite;
  transform: translateZ(-50px);
}

.card-glow::before {
  inset: -0.75rem;
  transform: translateZ(-1px);
  opacity: 0.5;
}

.card-glow::after {
  filter: blur(3.5rem);
}

.card-glow-content {
  display: grid;
  gap: 2rem;
  padding: 15px;
}

.card-glow-title {
  position: relative;
}

.card-glow-title::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  right: 0;
  height: 3px;
  background: linear-gradient(to right, var(--color-purple), var(--color-red))

}

.card-glow-info {
  display: grid;
  gap: 1rem;
}
